@import url('https://fonts.googleapis.com/css?family=Homemade+Apple');
@import url('https://fonts.googleapis.com/css?family=Amatic+SC');
@import url('https://fonts.googleapis.com/css?family=Judson:400i,700');

/*keep color scheme simple*/
.topnav {
 display: flex; 
    justify-content:center;
    width: 100%;
    overflow: hidden;
font-family: 'Work Sans', sans-serif;
    margin:auto;
    text-align: center;
    }

.topnav a {
    margin:auto; 
  float: left;
  display: block;
  color: #000000 ;
  text-align: center;
  padding: 14px 8px;
  text-decoration: none;
  font-size: 14px;
    font-weight: bold;
}

.topnav active {
    background-color: 	#ffffff;
    color: #ffffff;}

.title { text-align: center;
font-family: 'Judson', cursive;
font-size: 56px;
color: 	#000000;
font-weight: bold;

}
 
/*Control sizing with font-size*/

.fling-minislide {width:1000px; height:750px; 
overflow:hidden; 
margin:auto;
position:relative; }
.fling-minislide img{ position:absolute; 
animation:fling-minislide 20s infinite; 
opacity:0; 
width: 100%; 
height: auto;}

@keyframes fling-minislide {25%{opacity:1;} 40%{opacity:0;}} 
.fling-minislide img:nth-child(4){animation-delay:0s;}
.fling-minislide img:nth-child(3){animation-delay:5s;}
.fling-minislide img:nth-child(2){animation-delay:10s;}
.fling-minislide img:nth-child(1){animation-delay:15s;}

/*Change slideshow timeline with animation delay*/


.circle1
 { text-align: center;
color: 	black;
    background-color: white;
height: 900px;
/*change this and the width for the size of your initial circle*/
width: 900px;
vertical-align: middle;
/*make it pretty*/
background: white;
margin: auto;
/*change this for font-size and font-family*/}

.circle1 h2 
{ text-align: center;
font-family: 'Judson', cursive;
font-size: 24px;
color: 	black;}

.circle1  p
{ text-align: center;
font-family: sans-serif;
    font-size: 16px;
}

.circle2
 { text-align: center;
font-size: 16px;
color: 	black;
    background-color: white;
height: 900px;
/*change this and the width for the size of your initial circle*/
width: 900px;
vertical-align: middle;
/*make it pretty*/
background: white;
font-family: 'Judson', cursive;
     margin: auto;
 }
 
 .circle2 p
 {text-align: center;
 font-family: sans-serif;}
.video
 { text-align: center;
font-size: 16px;
color: 	black;
    background-color: white;
/*change this and the width for the size of your initial circle*/

vertical-align: middle;
/*make it pretty*/
background: white;
font-family: 'Judson', cursive;
     margin: auto;
 }
 
ul
{list-style:none;}

.fressia
{color:#F6C324;}


.intro 
{ text-align: center;
font-family: 'Judson', cursive;
font-size: 32px;
color: 	black;
font-weight: bold;
margin: auto;
width:40%;
}

.intro1
{
 text-align: center;
 font-family: 'Judson', cursive;
    margin:auto;
    width: 40%;
    font-size: 16px;
}

.homesect{display:flex; padding-top:40px;justify-content: center; flex-flow: row nowrap;}
.homesect img{width:65%}
.homesect p{padding-top:30px;}
.circle1 {text-align: center;padding: 50px 30px 50px 80px;}
.circle2 {text-align: center;padding: 50px 30px 50px 80px;}

.date
{font-size: 46px;
    font-family: 'Judson', cursive;
    font-weight: bold;
    color:black;
    width:90%;
    margin: auto;
    
}

